.headCont {
    overflow: hidden;
}

.headCont a {
    float: left;
    text-align: center;
    padding: 14px 14px;
    font-size: 17px;
    text-decoration-line: none;
}

.headCont a:hover {
    background-color: white;
    color: #000000;
}