.headCont {
    overflow: hidden;
    background-color: #1f1f1f;
    a {
        float: left;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        text-decoration-line: none;
    }
    a.active {
        background-color: white;
        color: #000000;
    }
    a.active:hover {
        background-color: #000000;
        color: white;
    }
    a:hover {
        background-color: white;
        color: black;
    }
    a.twitch:hover {
        background-color: #6441a5;
        color: black;
    }
    a.youtube:hover {
        background-color: #CD201F;
        color: black;
    }
    a.discord:hover {
        background-color: #5865F2;
        color: black;
    }
}

body {
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #ffffff;
    text-decoration-line: unset;
}
a:hover {
    color: #06cfcf;
}