.twitch:hover {
    background-color: #6441a5;
    color: #FFFFFF;
}
.youtube:hover {
        background-color: #CD201F;
        color: #FFFFFF;
    }
.discord:hover {
    background-color: #5865F2;
    color: black;
}
.newgrounds:hover {
    background-color: #ffa500;
    color: black;
}
.twitter:hover {
    background-color: #1DA1F2;
    color: #000000;
}
.mastodon:hover {
    background-color: #6364FF;
    color: #000000;
}
.steam:hover {
    background-color: #00adee;
    color: #000000;
}
.reddit:hover {
    background-color: #FF5700;
    color: #000000;
}
.itchio:hover {
    background-color: #fa5c5c;
    color: #FFFFFF;
}
.gdash:hover {
    background-color: #287DFF;
    color: #000000;
}
.github:hover {
    background-color: #ffffff;
    color: #000000;
}


audio {
    width: 100%;
    margin: 0 auto;
    display: block;
}


body {
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #ffffff;
    text-decoration-line: unset;
}
a:hover {
    color: #06cfcf;
}