.headCont {
    overflow: hidden;
}
.headCont a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.headCont a:hover {
    background-color: white;
    color: black;
}  
.headCont a.active {
    background-color: white;
    color: black;
}
.headCont a.active:hover {
    background-color: #12af73;
    color: white;
}
body {
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #ffffff;
}