@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

h1, h3 {
    font-family: "JetBrains Mono", monospace;
}
body {
    text-shadow:
    -1px -1px 0 #ff7272,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;

    background-image: url("/src/animebg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* filter: brightness(0.5); */
    
    text-align: center;

    color: white;
    font-family: "JetBrains Mono", monospace;
}

#controls button {
    font-family: "JetBrains Mono", monospace;
    border-style: hidden;
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background-color: rgb(255, 255, 255);
    transition: 100ms ease-in-out;
}

#controls button:hover {
    transform: scale(1.1);
    background-color: rgb(4, 238, 238);
}

#controls button:active {
    transform: scale(0.9);
    background-color: #015854;
    color: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.904);
}