@import url("https://fonts.googleapis.com/css?family=Dekko");
@import url("https://fonts.googleapis.com/css?family=Alegreya");

audio {
    width: 100%;
    margin: 0 auto;
    display: block;
}

h1, h2 {
    font-family: "Alegreya";
}
body {
    background-color: #000000;
    color: white;
    font-family: "Dekko";
}

a {
    color: #ffffff;
    text-decoration-line: unset;
    transition: 150ms ease-in-out;
}

a:hover, a:focus-visible {
    color: #554343;
}

.headCont {
    overflow: hidden;
}

.headCont a {
    float: left;
    text-align: center;
    padding: 14px 14px;
    font-size: 17px;
    border-radius: 5px;
    text-decoration-line: none;
    transition: 100ms ease-in-out;
}

.headCont a:hover, a:focus-visible {
    background-color: white;
    color: #000000;
    transform: scale(0.8);
}

.foot-link img {
    background-color: #000000;
    transition: 90ms ease;
}